.gerador-senha {
    margin-top: 2rem;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.gerador-senha input {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.gerador-senha div {
    margin-bottom: 1rem;
}

.gerador-senha label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.gerador-senha input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gerador-senha button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.gerador-senha button:hover {
    background-color: #0056b3;
}

.gerador-senha button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.gerador-senha button:disabled:hover {
    background-color: #ccc;
}


